{
  "extends": "volox",
  "env": {
    "node": true,
    "es6": true
  },
  "no-var": true,
  "prefer-spread": true,
  "ecmaFeatures": {
    "spread": true,
    "blockBindings": true,
    "restParams": true,
    "templateStrings": true,
    "generators": true,
    "forOf": true,
    "classes": true,
    "arrowFunctions": true
  }
}